<div class="chatbot-container">
  <div class="chat-window">
    <div class="chat-logo">
      <img src="content/images/image 11.png" alt="Next Step Sénégal" />
    </div>
  </div>

  <div class="chat-footer">
    <div class="menu-wrapper">
      <button class="menu-toggle" (click)="toggleMenu()">
        <fa-icon [icon]="isMenuOpen ? faTimes : faPlus"></fa-icon>
      </button>

      <div class="submenu" [class.open]="isMenuOpen">
        <button class="submenu-item" (click)="addPhoto()">
          <fa-icon [icon]="faCamera"></fa-icon>
          <span>Photo</span>
        </button>
        <button class="submenu-item" (click)="addDocument()">
          <fa-icon [icon]="faFile"></fa-icon>
          <span>Document</span>
        </button>
      </div>
    </div>

    <input type="text" placeholder="Poser votre question..." class="chat-input" />

    <button class="send-btn">
      <fa-icon [icon]="faPaperPlane"></fa-icon>
    </button>
  </div>
</div>
