<jhi-page-ribbon></jhi-page-ribbon>

<!-- ✅ Navbar (horizontale pour user ou verticale pour admin) -->
<router-outlet name="navbar"></router-outlet>

<!-- ✅ Conteneur principal -->
<div
  class="app-content"
  [ngClass]="{
    'admin-layout': isAdminRole,
    'user-layout': !isAdminRole,
  }"
>
  <!-- ✅ Breadcrumb -->
  <router-outlet name="breadCrumb"></router-outlet>

  <!-- ✅ Contenu dynamique -->
  <div class="container-fluid main-container">
    <div class="card jh-card">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- ✅ Footer uniquement sur les pages utilisateur -->
<jhi-footer *ngIf="!isAdminRole && !isChatbotPage"></jhi-footer>
