@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

/* ==========================================================================
Navbar (FIXE)
========================================================================== */

.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7fdf6;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  height: 90px;
}

/* Pour que le contenu ne passe PAS sous la navbar */
#app-view-container {
  padding-top: 100px !important; /* correspond à la navbar height */
}

/* Logo */
.navbar-logo img {
  height: 200px;
}

/* Menu centré */
.navbar-menu {
  list-style: none;
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
}

/* Boutons */
.menu-item {
  background: #ffffff;
  border: 2px solid #f4c01e;
  color: #15803d;
  border-radius: 18px;
  padding: 6px 18px;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
}
.user-display {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  color: #15803d;
}

.profile-icon {
  font-size: 26px;
  cursor: pointer;
}

/* Survol : GOLD + GRAS */
.menu-item:hover {
  color: #f4c01e;
  font-weight: 700;
}

/* Onglet actif (cliqué) : GOLD + GRAS */
.menu-item.active {
  color: #f4c01e;
  font-weight: 700;
  border-color: #f4c01e;
}

/* Profil */
.navbar-profile fa-icon,
.navbar-profile img {
  font-size: 28px;
  height: 32px;
  width: 32px;
  color: #15803d;
  cursor: pointer;
}

.navbar-profile .nav-link {
  padding: 0;
}
