<nav class="custom-navbar" data-cy="navbar">
  <!-- Logo -->
  <div class="navbar-logo">
    <img src="content/images/image%2011.png" alt="Logo" />
  </div>

  <!-- Menu central -->
  <ul class="navbar-menu">
    <li><a class="menu-item" routerLink="/" routerLinkActive="active" (click)="collapseNavbar()">Accueil</a></li>
    <li><a class="menu-item" routerLink="/test-orientation" routerLinkActive="active" (click)="collapseNavbar()">Test d’orientation</a></li>
    <li><a class="menu-item" routerLink="/parcours" routerLinkActive="active" (click)="collapseNavbar()">Parcours</a></li>
    <li><a class="menu-item" routerLink="/conseils" routerLinkActive="active" (click)="collapseNavbar()">Conseils & Accompagnements</a></li>
    <li><a class="menu-item" routerLink="/actus" routerLinkActive="active" (click)="collapseNavbar()">Actus & Événements</a></li>
  </ul>

  <!-- Profil (placé correctement dans un conteneur à part) -->
  <div
    ngbDropdown
    class="nav-item dropdown pointer navbar-profile"
    display="dynamic"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <a class="nav-link dropdown-toggle user-display" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
      <fa-icon icon="user-graduate" class="profile-icon"></fa-icon>
      <span *ngIf="account()">{{ account()?.firstName }} {{ account()?.lastName }}</span>
    </a>

    <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
      <ng-container *ngIf="account() !== null; else notLogged">
        <li>
          <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
            <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.account.logout">Déconnexion</span>
          </a>
        </li>
      </ng-container>

      <ng-template #notLogged>
        <li>
          <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
            <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.account.login">S'authentifier</span>
          </a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
