/* --- Page entière --- */
html,
body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  width: 100% !important;
  background-color: #f0fdf4 !important; /* Vert clair */
  font-family: 'Segoe UI', sans-serif;
  display: block !important; /* Empêche le centrage global */
}

/* Supprime tout fond noir résiduel sur l'élément racine */
jhi-app,
app-root {
  background-color: transparent !important;
  display: block;
  width: 100%;
  height: 100%;
}

/* --- Conteneur principal du loader --- */
.custom-loader {
  text-align: center;
  width: 100%;
  height: 100vh; /* plein écran */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* --- Logo qui tourne --- */
.rotating-logo {
  width: 320px;
  height: 320px;
  animation: rotate 3s linear infinite;
  display: block;
  margin: 0 auto;
}

/* --- Texte en dessous du logo --- */
.custom-loader p {
  /*margin-top: 20px;*/
  color: #333;
  font-size: 18px;
  font-weight: 500;
}

/* --- Animation rotation --- */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
